@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: all .2s ease-in;
}
/* Header styles begin here */
.header{
    background:#fff;
    position: fixed;
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.header .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    margin: 0 auto;
    
}

.header .logo img {
    height: 80px;
}

.header .nav-container .navbar .menus{
    display: flex;
    gap: 1rem;
}

.header .menus li{
    list-style-type: none;
}

.header .menus li a{
    text-decoration: none;
    color: rgb(8, 77, 8);
    font-weight: 400;
    letter-spacing: 1px;
    padding: 10px 13px;
    border: 2px solid #fff;
}

.header .menus li a:hover{
    transition: 0.6s ease;
    border-bottom: 2px solid rgb(8, 77, 8);
}

.header .menus li .contact {
    background-color:  rgb(8, 77, 8);
    color: #fff;
    border-radius: 5px;
}

.header .menus li .contact:hover {
    background: #fff;
    transition: all .3s ease-in;
    color: rgb(8, 77, 8);
    border: 2px solid rgb(8, 77, 8);
}

/* The header styles end here */

.home {
    position: relative;
    top: 100px;
    height: 100vh;
    background: url("./images/bg-1.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}

.home .main {
    width: calc(60%);
    color: #fff;
}
.home .heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 5px 10px rgba(8, 77, 8, .4);
}

.home .main p {
    font-size: 16px;
    text-align: justify;
    text-shadow: 1px 1px 1px #000;
}
.home .button{
    margin-top: 20px;
}

button{
    padding: 12px 15px;
    text-transform: capitalize;
    width: 200px;
    border-radius: 5px;
    border: 2px solid rgba(1, 1, 1, 0);
    background: rgb(8, 77, 8);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

button::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: -100%;
    background-color: rgb(8, 77, 8);
    border: 2px solid rgba(1, 1, 1, 0);
}

button:hover::before{
    transition: all .6s ease-in-out;
    background-color: rgb(8, 77, 8);
    transform: translateX(201%);
}

button:hover {
    background-color: #fff;
    transition: all .3s ease-in;
    border: 2px solid rgb(8, 77, 8);
    color: rgb(8, 77, 8);
}

/* Home section ends here */

/* Services sectiojn begins here */

.services{
    max-width: 1300px;
    margin: 7rem auto;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    position: relative;
}

.heading span{
    color: rgb(8, 77, 8);;
}

.heading::before{
    content: '';
    height: 3px;
    background-color: rgb(8, 77, 8);
    width: 70px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 35px);
}

.box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: center;
}

.box-container .box{
    flex: 1 1 30%;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .4);
    border-radius: .5rem;
    padding: 10px 12px;
    position: relative;
    
}

.box-container .box img{
    width: 100%;
    height: 100%;
   object-fit: cover;
   position: absolute;
   top: -100%;
   left: 0;
}

.box-container .box:hover img{
    left: 0;
    transition: all .5s linear;
    transform: translateY(73%);
    cursor: pointer;
}

.box-container .box .button{
    padding: 20px;
}
/* Services section end here */

/* about section starts here */

.about {
    margin-top: -80px;
}

.about-container{
    background-position: center;
    background-size: cover;
    width: 1400px;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
}

.image-grid{
    flex: 1 1 calc(60%);
}

.content {
    flex: 1 1 calc(40%);
    text-align: center;
}

.content .head{
    font-weight: 700;
    font-size: 25px;
}

.image-grid {
    display: grid;
    gap: 1rem;
    padding: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.image-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid img:hover{
    transition: all .5s linear;
    transform: scale(1.1);
}

.image-grid .img-one {
    grid-row: span 2;
    grid-column: span 2;
}

.image-grid .img-two{
    grid-column: span 3;
}

.image-grid .img-three{
    grid-column: span 3;
}





