@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --green: rgb(7, 77, 7);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: all .2s linear;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.btn{
    font-size: 1.8rem;
    margin-top: 1rem;
    padding: 1.2rem 2rem;
    background: var(--green);
    color: #fff;
    border-radius: .5rem;
    border: .2rem solid #fff;
}

.btn:hover{
    color: var(--green);
    background: #fff;
    border: .2rem solid var(--green);
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    box-shadow: var(--box-shadow);
    background: #fff;
}

.heading{
    padding: 2rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bolder;
}

.heading span{
    color: var(--green);
}

section {
    padding: 2rem 9%;
}

.header .logo img{
    height: 4.5rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.7rem;
    color: var(--green);
    padding: 1.2rem  0;
    border: .2rem solid #fff;
}

.header .navbar a:hover{
    border-bottom: .2rem solid var(--green); 
    transition: border .4s ease-in-out;
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    border: .2rem solid var(--green);
    margin-left: 1rem;
    color: var(--green);
    font-size: 2.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    text-align: center;
}

.header .icons div:hover{
    background: var(--green);
    color: #fff;
    transition:  .4s linear;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    display: flex;
    align-items: center;
    background: #fff;
    top: 110%;
    right: -160%;
    /* right was initially at 2rem */
    height: 5.5rem;
    width: 50rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right: 2rem;
    transition: right .4s linear;
}

.header .search-form input{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: #222;
    text-transform: none;
}

.header .search-form label{
    font-size: 2.5rem;
    margin-right: 1.7rem;
    cursor: pointer;
    color: #666;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 17rem;
    padding-bottom: 10rem;
    height: 100vh;
    background: url(./images/bg-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    text-align: center;
    width: 70rem;
}

.home .content h3{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    text-shadow: 0 .5rem 1rem rgba(7, 77, 7, .5);
}

.home .content p {
    color: #fff;
    padding: 1rem 0;
    font-size: 1.7rem;
    line-height: 1.8;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    padding-bottom: 10rem;
}

.home .content .btn{
    border: .2rem solid var(--green);
}

.home .btn:hover{
    background: transparent;
    border: .2rem solid var(--green);
    transition: .3s linear;
}

.services {
    margin-top: -2rem;
}

.services .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    text-align: center;
}


.services .box{
    flex: 1 1 30%;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    position: relative;
    padding: 1rem;
    overflow: hidden;
}

.services .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
}

.services .box .contents{
    margin-bottom: 2.5rem;
}

.services .box h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.services .box p{
    font-size: 1.7rem;
    line-height: 1.8;
    color: #333;
    margin-bottom: 2.5rem;
}


.services .box:hover img {
    transition: .4s linear;
    transform: translateY(-110%);
}

.services .box:hover .contents{
    transition: .4s linear;
    transform: translateY(100);
}

.about {
    margin-top: -4rem;
}

.about .box-container {
    display: flex;
    background: url(./images/bg-2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.about .box-container .image-grid{
    flex: 1 1 calc(40%);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.about .box-container .image-grid img:hover{
    transform: scale(1.04);
    transition: .4s linear;
}

.about .box-container .image-grid img{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.about .box-container .image-grid .img-1{
    grid-row: span 2;
    grid-column: span 2;
    
}

.about .box-container .image-grid .img-2{
    grid-column: span 3;
}


.about .box-container .image-grid .img-3{
    grid-column: span 3;
}

.about .box-container .contents {
    flex: 1 1 calc(40%);
    padding: 2rem;
    text-align: center;
    width: calc(90%);
}

.about .box-container .contents h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.about .box-container .contents p{
    font-size: 1.7rem;
    color: #333;
    line-height: 1.8;
    margin-bottom: 2.5rem;
}

.about .box-container .contents .portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.5rem;
    padding: 1rem;
    gap: 1.5rem;
    text-align: center;
}

.about .box-container .contents .portfolio div{
    padding-right: 3rem;
    border-right: .2rem dotted #666;
}

.about .box-container .contents .portfolio span{
    font-size: 4.5rem;
}


























@media (max-width: 1100px) {
    
    .header {
        padding: 2rem ;
    }
}


@media (max-width:991px) {
    html{
        font-size: 55%;
    }

    section {
        padding: 2rem;
    }

    .services .box{
        flex: 1 1 45%;
    }

}


@media (max-width: 780px) {
    html{
        font-size: 50%;
    }

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 110%;
        right: -160%;
        /* right was initially set at 2rem */
        width: 30rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        background: #fff;
    }

    .header .navbar.active{
        right: 2rem;
        transition: right .4s linear;
    }

    .header .navbar a, .header .navbar .btn {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        padding: 1rem;
        display: block;
    }

    .header .search-form{
        width: 90%;
    }

    .about .box-container{
        background-position: right;
        flex-direction: column-reverse;
        gap: 2.5rem;
    }
}


@media (max-width: 450px) {


    .header .navbar{
        width: 90%;
    }

    .services .box{
        flex: 1 1 60%;
    }


    .about .box-container .image-grid{
        grid-template-columns: 1fr;
    }

}

